.strong-positive-day {
    background-color: #baffc9;
}

.positive-day {
    background-color: #ffffba;
}

.neutral-day {
    background-color: #bae1ff;
}

.negative-day {
    background-color: 	#ffdfba;
}

.strongly-negative-day {
    background-color: #ffb3ba;
}

.my-custom-calendar {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}