.strong-positive-day {
    background-color: #45af6c;
}

.positive-day {
    background-color: #93ca5f;
}

.neutral-day {
    background-color: #9dadd4;
}

.negative-day {
    background-color: #d8778a;
}

.strongly-negative-day {
    background-color: #b3455a;
}

.my-custom-calendar {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}