.strong-positive-day {
    background-color: #baffc9;
}

.positive-day {
    background-color: #B2EAD3;
}

.neutral-day {
    background-color: #bae1ff;
}

.negative-day {
    background-color: 	#ffdfba;
}

.strongly-negative-day {
    background-color: #ffb3ba;
}

.my-custom-calendar {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin-left: 0;
    margin-right: 250px;
}
.my-custom-calendar .react-calendar {
    background-color: #fff !important;
    border: 2px solid orange !important;
    border-radius: 10px !important;
    padding: 10px !important;
    margin-left: 0 !important;
}
.my-custom-calendar .react-calendar {
    font-family: 'Indie Flower', cursive;
}
.flower-image
{
    margin-top: 100px;
}
.my-custom-calendar .react-calendar__tile--active {
    background-color: transparent;
    color: inherit;
}
.my-custom-calendar .react-calendar__month-view__days__day--weekend {
    color: black;
}
.flower-text
{
    margin-top: -100px;
    font-size: 25px;
}