.navBar {
  overflow: hidden;
  background-color: #e1e1e1;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1%;
  left: 50%;
  transform: translateX(-50%);
}
  /* Style the header links */