.textanimation{
    font-size: 25px;
    padding-bottom: 10px;
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.typedwords{
    color: #2c9765;
    font-size: 25px;
}